.menu {
    grid-area: m;
    visibility: hidden;
    transition: visibility 1s;
    width: 100%;
    padding: 0.5em;
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
    	"attributes"
    	"attributes";
    /*justify-content: center;*/
    /*align-items: center;*/

}

.ids {
	grid-area: ids;
	display: grid !important;
	grid-template-columns: repeat(1, 1fr) !important;
	grid-template-rows: auto auto !important;
	grid-template-areas: 
		"ids-title"
		"ids-container" !important;
}
.ids-title {
	grid-area: ids-title;
	justify-self: center;
}
.ids-container {
	overflow-y: scroll;
	height: 20vh;
	grid-area: ids-container;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: repeat(1,1fr);
}
.id {
	justify-self: center;
}


.attributes {
	/*border: 1px solid black;*/
	grid-area: attributes;
	display: grid !important;
	grid-template-columns: repeat(1, 1fr) !important;
	grid-template-rows: auto auto !important;
	grid-template-areas: 
		"attributes-title"
		"attributes-container" !important;
}
.attributes-title {
	grid-area: attributes-title;
	justify-self:center;
}
.attributes-container {
	/*border: 1px solid black;*/
	overflow-y: scroll;
	height: 60vh;
	grid-area: attributes-container;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: repeat(1,1fr);
}
.attribute {
	/*border: 1px solid black;*/
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	grid-template-rows: auto;
	align-items: center;
	/*justify-content: center;*/
	border-bottom: 1px solid black;
	padding-bottom: 0.1em;
}
.attribute-name {
	/*border: 1px solid black;*/
	/*text-align: left;*/
	font-size: 0.5em;
	/*align-self: auto;*/
	/*justify-self: flex-start;*/
	height: 2.5em;
	min-width: 100%;
	overflow-y: scroll;
	align-self: center;

}
.attribute-select {
	/*border: 1px solid black;*/
	margin-right: 0.5em;
	align-self: center;
	justify-content: center;
	min-width: 100%;

}
.attribute-select-item {
	/*border: 1px solid black;*/
	width: 100%;
	justify-self: center !important;
	align-self: center !important;
}

.attribute-switch {
	/*border: 1px solid black;*/
	width: 100%;
	padding-left: 0.1em;
	/*justify-content: center !important;*/
}
.divider {
	width: 100%;
}