.attribute{
  width: 8em;
  text-align: left;
  border-style: solid;
  margin: 0;
}
.property{
  width: 8em;
  text-align: left;
  margin: 0;
}
.attribute-button {
  width: 2em;
  border-style: solid;
}
.tick {
  width: 2em;
}
.cursor{
  cursor: pointer;
}
.added {
  background-color: rgba(0,255,0,0.4);
}
.deleted {
  background-color: rgba(255,0,0,0.4);
}
