.loadDataButton {
  display: flex;
  background: -webkit-linear-gradient(51deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  background: -o-linear-gradient(51deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color: white;
  border-color: white;
  width: 50%;
  height: 10vh;
  font-size: 2em;
  border-radius: 2em;
  border-style: solid;
  align-items: center;
  margin: auto;
  transition: letter-spacing 1s;
}
.pull-center {
  text-align: center;
}
.loadDataButton:hover {
  background-color: rgba(255,255,255,0.5);
  /*font-size: 2.4em;*/
  letter-spacing: 3px;
  color: white;
}
.button-container{
  margin: auto;
}
