.reveal
	.slides
		.scrollable
			display:none
			width:61.8%

		&>section
			width:100%
			// section
			// 	width:100%


.reveal.scrolling
	.slides
		&>section
			width:38.2%
			// section
			// 	width:38.2%
			// 	section
			// 		width:38.2%

		.scrollable
			// display:block
			float:right

