.step-container {
  background-color: rgba(0,23,3,0.1);
  border-radius: 3em;
  padding: 2em 2em 0 2em;
  text-align: center;
  min-height: 50vh;
  width: 50%;
  margin: auto;
}
.step-header {

}
.step-content{

}
.step-footer{
  margin-top: 2em;
  padding-bottom: 1em;
}
.step-button{
  background-color: black;
  color: white;
  padding: 1em;
  margin: 1em;
}
.step-button:hover{
  background-color: rgba(0,23,3,0.4);
  color: black;
}
.step-title{
  text-transform: uppercase;
  font-weight: 100;
}
.step-number-container{
  display: flex;
  background-color: lightgrey;
  width: 3em;
  height: 3em;
  border-radius: 100%;
  align-items: center;
}
.step-number{
  font-size: 1.5em;
  margin: auto;
}
.step-response-msg{
  font-weight: 100;
}
.breadcrumb {
  width: 50%;
  margin: auto;
  margin-bottom: 2em;
}
.step-disabled {
  background-color: rgba(0,0,0,0.3);
  color: white;
  padding: 1em;
  margin: 1em;
}
