@import '~antd/dist/antd.css';
@import 'styles/content.css';
@import 'styles/menu.css';
@import 'styles/load.css';

body, html {
  height: 100%;
}
body {
  font-family: serif;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: black;
}

.container {
    height: 100%;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10vh 85vh 5vh;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "m m c c c c c c c c c c"
        "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
    padding: 1em;
}
.footer {
    grid-area: f;
}
.center {
  display: flex;
  justify-content: center;
}
.logo {
  margin-right: 1em; 
}
