
html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
a:link {
  text-decoration: none;
}
.load {
  align-self: center;
  margin: 0 auto;
}
.content {
    /*padding-left: 40%;*/
    /*width: 100%;*/
    grid-area: c;
    margin-left: -25%; 

    /*margin: 10px;*/
    transition: margin-left 1s;
    min-height: 50%;
    display: grid;
    overflow-x: scroll;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 60vh 30vh;
    grid-template-areas: 
        "visualization"
        "table";
}
.visualization {
  margin-top: 2vh;
  grid-area: visualization;
  min-height: 70vh;
}
.table {
  grid-area: table;
  height: 80vh;
  padding:1em;
  justify-content: flex-start !important;
}
.raw-table{
  min-height: 80vh;
}
.container > div {
  display: flex;
  font-size: 2em;
}

.container > div:nth-child(1n) {
  background-color: #FFFFB3;	
}

.container > div:nth-child(3n) {
  font-size: 1em;
  background-color: #fff;
}

.container > div:nth-child(2n) {
  background-color: #D3A88E;
}

.container > div:nth-child(4n) {
  /*background-color: #e56a20;*/
  background-color: rgba(229, 106, 32,0.8);
}

.container > .header {
  justify-content: flex-start;
}
.container > .header > .info {
  margin-left: auto;
}
.container > .header > .info > i {
  margin: 1em;
}
#root > div > div.footer > svg {
  margin: 1em;
}
.container > .footer {
  justify-content: flex-end;
  font-size: 1em;
  padding: 1em;
}


/* Modal Styling */
.modalDialog {
    position: fixed;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }

  .modalDialog:target {
    opacity:1;
    pointer-events: auto;
  }

  .modalDialog > div {
    width: 40%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: rgba(0,0,0,0.3);
    color: white;
/*    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);*/
  }

  .close {
    background: #000;
    background: rgba(0,0,0,0.3);
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 24px;
    text-decoration: none;
    font-weight: 100;
    /*-webkit-border-radius: 12px;*/
    /*-moz-border-radius: 12px;*/
    /*border-radius: 12px;*/
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }

  .close:hover { background: rgba(0,0,0,0.1); }
  /* End Modal Styling */


.change-dataset-button{
  position: absolute;
  left: 37%;
  z-index: 99999;
}
