.menu {
    grid-area: m;
    visibility: hidden;
    transition: visibility 1s;
    width: 100%;
    padding: 0.5em;
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
    	"ids"
    	"attributes";
}

.ids {
	grid-area: ids;
	display: grid !important;
	grid-template-columns: repeat(1, 1fr) !important;
	grid-template-rows: auto auto !important;
	grid-template-areas: 
		"ids-title"
		"ids-container" !important;
}
.ids-title {
	grid-area: ids-title;
	justify-self: center;
}
.ids-container {
	grid-area: ids-container;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: repeat(1,1fr);
}
.id {
	justify-self: center;
}


.attributes {
	grid-area: attributes;
	display: grid !important;
	grid-template-columns: repeat(1, 1fr) !important;
	grid-template-rows: auto auto !important;
	grid-template-areas: 
		"attributes-title"
		"attributes-container" !important;
	align-self: flex-start;
}
.attributes-title {
	grid-area: attributes-title;
	justify-self:center;
}
.attributes-container {
	grid-area: attributes-container;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: repeat(1,1fr);
}
.attribute {
	display: grid;
	grid-template-columns: 3fr 2fr 1fr !important;
	grid-template-rows: auto;
	align-self: center;
}
.attribute-name {
	text-align: right;

}
.attribute-select {
	margin-right: 0.5em;
	margin-left: 0.5em;
}
.attribute-select-item {
	width: 100%;
}

.attribute-switch {
	width: 100%;
	justify-self: flex-end;
}
.divider {
	width: 100%;
}